<table class="table table-hover" *ngIf="_cs.aprobadas.length >= 1">
  <thead>
    <tr>
      <th>No.</th>
      <th scope="col">Nombre y Apellido</th>
      <th scope="col">Pregunta</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pregunta of _cs.aprobadas; let idx = index" class="animated fadeIn fast">
      <ng-container *ngIf="pregunta.estado == 2">
        <td> {{ idx + 1 }} </td>
        <td> {{ pregunta.nombre }} {{ pregunta.apellido }} </td>
        <td> {{ pregunta.pregunta }} </td>
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="completarPregunta(pregunta,pregunta.id)">Listo</button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<div class="container_screen" *ngIf="_cs.aprobadas.length == 0">
  <div class="ico_sun"></div>
  <h1>De momento no hay preguntas</h1>
</div>
