<table class="table table-hover" *ngIf="_cs.preguntas.length > 0">
  <thead>
    <tr>
      <th>No.</th>
      <th scope="col">Nombre y Apellido</th>
      <th scope="col">Pregunta</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pregunta of _cs.preguntas; let idx = index" class="animated fadeIn fast">
      <td> {{ idx + 1 }} </td>
      <td> {{ pregunta.nombre }} {{ pregunta.apellido }} </td>
      <td> {{ pregunta.pregunta }} </td>
    </tr>
  </tbody>
</table>

<div class="container_screen" *ngIf="_cs.preguntas.length == 0">
  <div class="ico_sun"></div>
  <h1>De momento no hay preguntas</h1>
</div>
